/******************************************************************
Site Name: romanczuk.art
Author: Design et

Stylesheet: Main child theme stylesheet
******************************************************************/
#main .ast-row article.type-sesja {
    width: 33%;
}